.error {
    background: url(https://media.tenor.com/_BiwWBWhYucAAAAd/what-huh.gif) rgba($color: #000000, $alpha: 0.4);
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40vw;
    height: calc(100vh - 75px); 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
}

@media (max-width: 768px) {
    .error {
        width: 100vw;
        writing-mode: vertical-rl;
        text-orientation: upright;
    }
}