@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&family=Stick+No+Bills:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@800&display=swap');
@import 'variables';

:root {
    --colorDark: #121212;
    --colorLight: #ddd;
    --colorDanger: #dc1414;
    font-size: 16px;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(0deg, #2bff00, #e4ff84);
}

#__next {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: #0e4cd1;
    }
}

nav {
    display: flex;
    background-color: var(--colorDark);
    height: 75px;
    align-items: center;
    justify-content: space-around;
    color: var(--colorLight);

    a {
        margin-left: 1%;
        margin-right: 5%;
        color: var(--colorLight);
        font-size: xx-large;

        &:hover {
            color: currentColor;
        }
    }
}

.logo {
    color: var(--colorLight);
    font-family: 'Stick No Bills', sans-serif;
    font-size: 48px;
}

main {
    min-height: calc(100vh - 75px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    &.danger {
        background-color: var(--colorDanger);
        height: 10;
    }

    &.submit {
        background-color: #25a75b;
    }

    background-color: var(--colorDark);
    color: var(--colorLight);
    height: 3rem;
    font-size: large;
    padding: 0% .75rem;
    border: none;
    font-family: 'Nunito';
    min-height: 50px;
    box-shadow: rgb(0, 0, 0) 0px 0px 10px;

    &:hover {
        background-color: #0e4cd1;
    }

    &:disabled {
        background-color: #555;
        pointer-events: none;
    }
}

form {
    display: flex;
    flex-direction: column;
}

.container {
    width: 90%;
    height: 100%;
}

.flexApart {
    display: flex;
    justify-content: space-between;
}

input {
    margin-bottom: 1rem;
    height: 2rem;
    box-shadow: rgba(0, 0, 0, 0.301) 0px 0px 10px;
}
textarea {
    box-shadow: rgb(0, 0, 0) 0px 0px 5px;
}

.flexCenter {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul,
li {
    list-style: none;
}

img {
    box-shadow: 0 0 10px;
}

.mask {
    background-color: var(--colorDark);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.8;
}

.modal {
    display: flex;
    justify-content: space-around;
    background-color: var(--colorLight);
    position: fixed;
    z-index: 2;
    top: 25vh;
    left: 25vw;
    height: 50vh;
    width: 50vw;
    flex-grow: 1;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorDark);
    color: #ddd;
    height: 50px;
    font-size: x-large;

    a {
        text-decoration: underline;

        &:hover {
            color: inherit;
        }
    }
}

.label-title {
    @include label(#800080, #cf2bcf, '<title')
}

.label-title-0 {
    @include label(#800080, #cf2bcf, '<title');
    height: auto
}

.label-title-1 {
    @include label(#e45d0f, #a06a4b, '<title');
    height: auto
}

.label-title-2 {
    @include label(#1F51FF, #152f8d, '<title');
    height: auto
}

.label-header {
    @include label(#e45d0f, #a06a4b, '<heading')
}

.label-desc {
    @include label(#1F51FF, #152f8d, '<description');
    min-height: 100px;
    justify-content: flex-start;
}

.label-comment {
    @include label($tempcolor1, $tempcolor2, '<comment');
    justify-content: space-around;
}

.navLinks {
    display: flex;
    align-items: center;
    height: inherit;
}

/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #2c3e50;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;

    &:hover {
        background: #555;
    }
}

/* Handle on hover */

@media (max-width: 768px) {
    :root {
        font-size: 12px;
    }

    .modal {
        top: 10vh;
        left: 10vw;
        height: 80vh;
        width: 80vw;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        >* {
            width: 90% !important;
            text-align: center;
        }

        img {
            height: 200px;
            width: 200px;
        }
    }

    .navLinks span,
    .logoDesktop {
        display: none;
    }

    .navLinks {
        svg {
            height: 32px;
            width: 32px;
        }

        img {
            height: 32px;
        }
    }
}

@media (min-width: 768px) {
    .logoMobile {
        display: none;
    }
}
