.container {
    columns: 4 150px;
    width: 80%;
    margin-bottom: 1rem;
}

.col {
    flex-direction: column;
}

.tile {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    break-inside: avoid;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    img {
        aspect-ratio: initial;
        width: 100%;
    }
}

.panel {
    width: 45%;
    img {
        width: 100%;
        height: auto;
    }
}

.flexApart {
    display: flex;
    justify-content: space-between;
}

.meme {
    display: inline-block;
    width: 100%;

    img {
        aspect-ratio: initial;
    }
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .panel {
        width: 47%;
    }
}