.searchResults {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 0.5rem;
}
.searchResults img {
    height: 150px;
    grid-row: span 2;
}
.result {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem
}

.links {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .result {
        align-self: center;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}