.profile {
    margin-top: 2%;
    display: flex;
    gap: 2rem;
}

.avatar {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.info {
    display: flex;
    flex-direction: column;
}
@media (max-width: 768px) {
    .avatar {
        width: 100px;
        height: 100px;
    }
}