@import 'variables';

.profile {
    margin-top: 2%;
    display: flex;
    gap: 2rem;
}
.prof {
    display: flex;
    justify-content: space-around;
    width: 80%;
}
.inf {
    @include label(#a71f36, #3a161c, '<');
    padding: 5rem 0.5rem;
    flex: 2;
}
.av {
    flex: 1;
    img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
}
.avatar {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.info {
    display: flex;
    flex-direction: column;
}
@media (max-width: 768px) {
    .avatar {
        width: 100px;
        height: 100px;
    }
}